/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

$border-color: black;

body {
	font-family: 'Sunflower', sans-serif;
	background-color: white;
}

a:hover {
	text-decoration: none;
}

.login-signup-box {
	width: 50%;
	max-width: 400px;
	min-width: 250px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: $border-color;
	border-width: 3px;
	box-shadow: 3px 3px 20px 1px $border-color;
}

.glyphicon-log-out {
	color: white;
}

.navbar-default {
	background-color: red;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

#food_search_form {
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: $border-color;
	border-width: 3px;
	box-shadow: 3px 3px 20px 1px $border-color;
}

#food-search-table {
	background-color: black;
}

#food-search-table a {
	color: black;
}

#food-search-table a:hover {
	display: block;
	opacity: .8;
}

#date_form {
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: $border-color;
	border-width: 3px;
	box-shadow: 3px 3px 20px 1px $border-color;
}

#food_log {
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: $border-color;
	border-width: 3px;
	box-shadow: 3px 3px 20px 1px $border-color;
	overflow-x: scroll;
}

#nutrient-section {
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: $border-color;
	border-width: 3px;
	box-shadow: 3px 3px 20px 1px $border-color;
}

.food-list-icon {
	margin-right: 5px;
	height: 30px;
	width: 30px;
}

.well {
	background-color: white;
	margin: 0;
	border-radius: 0;
}

.form-format-width {
	display: inline-block;
	max-width: 240px;
}

.glyphicon-remove {
	vertical-align: middle;
	margin-top: 10px;
}

.glyphicon-search {
	border: none;
}


