
	<% current_user.recent_search.each do |food| %>
		<div class="well well-sm">
			<%= image_tag("#{food['photo']['thumb']}", class: "food-list-icon") %>
			<%= food["food_name"] %>
		</div>
	<% end %>
