<div class="text-center">
	<%= form_tag search_food_path, remote: true do %>
		<%= text_field_tag :term, nil, placeholder: "Search for food", autocomplete: :off, class: "form-control form-format-width" %>
		<%= button_tag "", type: 'submit', class: "glyphicon glyphicon-search" %>
	<% end %>
</div>
<br>