
<div class="row">
	<div class="col-md-4">
		<div id="date_form">
			<br>
			<%= render 'date_form' %>
			<br>
		</div>
		<br>
		<div id="food_search_form">
			<br>
			<%= render 'food_search_form' %>
			<div id="food_finder" style="display:none"></div>
		</div>
		<br>
	</div>
	<div class="col-md-8">
		<div id="food_log">
			<%= render 'food_log' %>
		</div>
		<br>
		<div id="nutrient_totals">
			<%= render 'nutrient_totals' %>
		</div>
	</div>
</div>